In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('Sales_Forecast/output/forecast future.csv')

In [30]:
data = data.set_index('OrderDate')

In [33]:
data = data.iloc[:, 2:].where(data.iloc[:, 2:] >1 , 0)

In [44]:
previous_data = pd.read_csv('/Users/roger/Projects/coronavirus/Sales_Forecast/data/corona_recovery_formated.csv')

In [45]:
previous_data = previous_data.set_index('date')

In [47]:
previous_china = previous_data[previous_data['variable'] == 'China_total']

In [49]:
previous_china

               variable    value
date
2020-01-22  China_total     28.0
2020-01-23  China_total     30.0
2020-01-24  China_total     36.0
2020-01-25  China_total     39.0
2020-01-26  China_total     49.0
2020-01-27  China_total     58.0
2020-01-28  China_total    101.0
2020-01-29  China_total    120.0
2020-01-30  China_total    135.0
2020-01-31  China_total    214.0
2020-02-01  China_total    275.0
2020-02-02  China_total    463.0
2020-02-03  China_total    614.0
2020-02-04  China_total    843.0
2020-02-05  China_total   1115.0
2020-02-06  China_total   1476.0
2020-02-07  China_total   1998.0
2020-02-08  China_total   2595.0
2020-02-09  China_total   3218.0
2020-02-10  China_total   3917.0
2020-02-11  China_total   4635.0
2020-02-12  China_total   5079.0
2020-02-13  China_total   6213.0
2020-02-14  China_total   7973.0
2020-02-15  China_total   9294.0
2020-02-16  China_total  10748.0

In [43]:
previous_china

Empty DataFrame
Columns: [variable, value]
Index: []

In [37]:
data['China_total']

OrderDate
2020-02-17     7023.826533
2020-02-18     7326.538009
2020-02-19     7604.500596
2020-02-20     7784.656983
2020-02-21     8245.567255
2020-02-22     8848.945424
2020-02-23     9181.594379
2020-02-24     9382.297798
2020-02-25    10133.481030
2020-02-26    10412.912263
Name: China_total, dtype: float64